/*
  Custom font
*/
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap'); */
@import url('https://api.fontshare.com/css?f[]=satoshi@400,500,700,900&display=swap');
@import url('https://api.fontshare.com/css?f[]=sentient@400,401,700,701&display=swap');

em, .serif {
  font-family: 'Sentient','Georgia', serif;
}

.post-content h1,
.post-content h2,
.post-content h3,
.sans {
  font-family: 'Satoshi', sans-serif;
}

/*
  Better defaults
*/

p, h1, h2, h3, figure {
  margin: 0;
}

/* Custom arrow for links */
a.arrow {
  position:relative;
}
a.arrow:before {
  font-size: 2em;
  font-weight:700;
  position:absolute;
  color:#000;
  opacity: 1;
  transition: 0.25s ease-in;
}
a.a-light:before {
  opacity: 0;
  color: #fff;
}
a.a-right:before {
  content:"→";
  right: 8px;
}
a.a-left:before {
  content:"←";
  left: 8px;
}
/* Arrow Hover states */
a.a-light:hover:before {
  opacity: 1;
}
a.a-right:hover:before {
  color:#fff;
  /* right:4px; */
}
a.a-left:hover:before {
  color:#fff;
  /* left:4px; */
}

/* Home navigation animation */
/* a.home-link > nav {
  opacity: 0;
  transition: 0.25s ease-in;
}
a.home-link:hover > nav {
  opacity: 1;
} */

/*
  Default styles for single posts
*/

@media screen and (max-width: 60em) {
  .post-content > p,
  .post-content pre,
  .post-content ul,
  .post-content ol,
  .post-content h1,
  .post-content h2,
  .post-content h3,
  .post-content div,
  .post-content blockquote,
  .post-content .fit {
    width: 100%;
    margin: 1rem auto 2rem auto;
  }
}
@media screen and (min-width: 60em) {
  .post-content > p,
  .post-content ul,
  .post-content ol,
  .post-content h1,
  .post-content h2,
  .post-content h3,
  .post-content div,
  .post-content blockquote,
  .post-content .fit  {
    width: calc(100% / 1.5);
    margin: 1rem auto 2rem auto;
    /* max-width: 40em; */
  }
}

.post-content {
  line-height: 1.6;
}

.post-content a,
.post-meta a {
  /* color: #001B44; */
  color: #00449E;
  text-decoration: none;
  border-bottom: 1px dashed #00449E;
  padding: 0 2px;
}

.post-content a:hover,
.post-meta a:hover {
  color: #fff;
  background: #00449E;
}

.post-content .full-width img {
  width: 100%;
}

.post-content .bordered img,
.post-content a img {
  border: 2px solid #ddd;
  margin: -2px;
}

.post-content a:hover img {
  border: 2px solid #00449E;
}

.post-content h1,
.post-content h2,
.post-content h3 {
  border-top: 2px solid #666;
  padding-top: 1rem;
  margin: 4rem auto 1.5rem auto;
  line-height:1.25;
}

.post-content pre {
  white-space: pre-wrap;
  font-size: 0.6em;
  color: #fff;
  background: #333;
  padding: 0.5em;
}

.post-content blockquote {
  margin: 1rem auto;
  text-align: left;
  font-size: 1.5em;
  line-height: 1.4;
  color: #444;
}

/*
  Useful classes for vertical layouts
*/

@media screen and (min-width: 60em) {
  .my-grid {  min-height:  20vh; }
  .my-grid-2 {  min-height:  40vh; }
}

@media screen and (max-width: 59.9em) {
  .my-grid {  min-height:  10vh; }
  .my-grid-2 {  min-height:  10vh; }
}

.min-vh { min-height: 80vh; }
